In [ ]:
import yfinance as yf
import pandas as pd

start_date = "2023-04-01"
end_date = "2025-04-01"
ticker = "NVDA"

data = yf.download(ticker, start=start_date, end=end_date, interval="1d")["Close"]

df = pd.DataFrame(data)
df.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [6]:
df.head()

Ticker       Date        TSLA
0      2023-04-03  194.770004
1      2023-04-04  192.580002
2      2023-04-05  185.520004
3      2023-04-06  185.059998
4      2023-04-10  184.509995

In [7]:
df.to_csv(f"./data/{ticker}.csv", index=False)