In [18]:
import yfinance as yf
import pandas as pd

start_date = "2023-04-01"
end_date = "2025-04-01"
ticker = "TSLA"

data = yf.download(ticker, start=start_date, end=end_date, interval="1d")[["Open","High","Low","Close"]]

df = pd.DataFrame(data)
df.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [19]:
df.head()

Price        Date        Open        High         Low       Close
Ticker                   TSLA        TSLA        TSLA        TSLA
0      2023-04-03  199.910004  202.690002  192.199997  194.770004
1      2023-04-04  197.320007  198.740005  190.320007  192.580002
2      2023-04-05  190.520004  190.679993  183.759995  185.520004
3      2023-04-06  183.080002  186.389999  179.740005  185.059998
4      2023-04-10  179.940002  185.100006  176.110001  184.509995

In [20]:
df.to_csv(f"./data/{ticker}.csv", index=False)