In [19]:
import yfinance as yf
import pandas as pd

start_date = "2005-04-01"
end_date = "2025-04-01"
ticker = "AAPL"
include_meta = True

In [20]:
if include_meta:
    df = yf.Ticker(ticker=ticker).history(start=start_date, end=end_date)

    df.reset_index(inplace=True)
    df['Date'] = pd.to_datetime(df['Date']).dt.date

In [21]:
if not include_meta:
    data = yf.download(ticker, start=start_date, end=end_date, interval="1d")[["Open","High","Low","Close"]]

    df = pd.DataFrame(data)
    df.reset_index(inplace=True)

    df = df.iloc[1:].reset_index(drop=True)

In [22]:
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2005-04-01,1.264981,1.267686,1.219299,1.228916,641284000,0.0,0.0
1,2005-04-04,1.231922,1.241539,1.206977,1.234927,580014400,0.0,0.0
2,2005-04-05,1.238834,1.269489,1.234927,1.258970,556239600,0.0,0.0
3,2005-04-06,1.274298,1.286620,1.266784,1.272194,414825600,0.0,0.0
4,2005-04-07,1.272194,1.314871,1.269790,1.309160,506987600,0.0,0.0

In [23]:
df.to_csv(f"./data/{ticker}_{len(df)}.csv", index=False)