In [33]:
import yfinance as yf
import pandas as pd

start_date = "2005-04-01"
end_date = "2025-04-01"
ticker = "^GSPC"

data = yf.download(ticker, start=start_date, end=end_date, interval="1d")[["Open","High","Low","Close"]]

df = pd.DataFrame(data)
df.reset_index(inplace=True)

[*********************100%***********************]  1 of 1 completed

In [34]:
df.head()

Price        Date         Open         High          Low        Close
Ticker                   ^GSPC        ^GSPC        ^GSPC        ^GSPC
0      2005-04-01  1180.589966  1189.800049  1169.910034  1172.920044
1      2005-04-04  1172.790039  1178.609985  1167.719971  1176.119995
2      2005-04-05  1176.119995  1183.560059  1176.119995  1181.390015
3      2005-04-06  1181.390015  1189.339966  1181.390015  1184.069946
4      2005-04-07  1184.069946  1191.880005  1183.810059  1191.140015

In [35]:
df.to_csv(f"./data/{ticker}_{len(df)}.csv", index=False)