In [ ]:
from fredapi import Fred
import pandas as pd

fred = Fred(api_key='oops')

cpi = fred.get_series('CPIAUCSL')
interest_rate = fred.get_series('FEDFUNDS')
#Resample to daily frequency
cpi_daily = cpi.resample('D').ffill()
interest_rate_daily = interest_rate.resample('D').ffill()

In [ ]:
df = pd.DataFrame({
    'Date': cpi_daily.index,
    'CPI': cpi_daily.values,
    'InterestRate': interest_rate_daily.reindex(cpi_daily.index).values
})

df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [18]:
df.head()

        date    CPI  InterestRate
0 1954-07-01  26.86           0.8
1 1954-07-02  26.86           0.8
2 1954-07-03  26.86           0.8
3 1954-07-04  26.86           0.8
4 1954-07-05  26.86           0.8

In [19]:
df.to_csv(f"./data/MACRO_{len(df)}.csv", index=False)